

@media only screen and (min-width: 300px) {
    
    #logo-part-esq-dir{
        display: none;
    }
    

}


footer {
    position:relative;
    bottom:0;
    width:100%;
    background-color: lightblue;
}

.logo-part {    
    height: 100%;
    align-items: center;
    }

.logo-part-esq-dir {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    height: 100%;
    
    }
