@font-face {
  font-family: 'GothamHTF-Light';
  src: url('fonts/GothamHTF-Light.eot');
}

p , h1,h2  {
  /*font-family: GothamHTF-Light  ;*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color:red;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
